.startScreenContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 1rem;
}

.buttons {
  background: none;
  border: none;
  width: 10rem;
  margin: 14px 2px;
  max-height: 3.5rem;
  font-size: 1.2rem;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start {
  width: 14rem;
  height: 4rem;
  max-height: 5rem;
  font-size: 2.5rem;
}

.start_wrapper {
  margin-bottom: 1.5rem;
}

.buttons_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  position: fixed;
  bottom: 4rem;
  right: 8rem;
}

/*mobile*/
@media only screen and (orientation: landscape) and (max-width: 1024px) {
  .startScreenContainer {
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    height: 60%;
  }

  .startScreenContainer img {
    width: 75%;
    height: auto;
    position: fixed;
    left: -2rem;
  }

  .buttons_wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.7rem;
    position: fixed;
    top: 7rem;
    right: 2.5rem;
    gap: 1rem;
  }

  .buttons {
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
  }

  .start_wrapper {
    margin-top: 1.2rem;
  }

  .start {
    width: 10rem;
    height: 3.5rem;
    font-size: 2rem;
  }

  footer {
    font-size: 0.7rem;
    position: fixed;
    width: 13rem;
    align-self: center;
    bottom: 0.2rem;
  }
}
