.modalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.modalContainer button {
  width: fit-content;
}

.playerModalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 1rem;
    row-gap: 0.2rem;
    width: 90vw;
    height: 100vh;
}

.setup_nplayers {
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    gap: 1.5rem;
    margin: 2.5rem 3.5rem 1.2rem;
}

h1 {
    margin: 0.5rem 0rem 0rem 0rem;
}

.radio_btns_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
    
}
.radio_btns_container p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
}

.radio_btn {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back_btn_div {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 2rem;
    left: 1.5rem;
}
.sketch_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 80px;
    width:fit-content;
    background: transparent;
}
