.modalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.modalContainer button {
  width: fit-content;
}

.playerModalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 1rem;
    row-gap: 0.2rem;
    width: 90vw;
    height: 100vh;
}

.setup_nplayers {
    min-height: 50vh;
    max-height: 80vh;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    gap: 1.5rem;
    margin: 1.5rem 4rem 1.5rem;
}

.radio_btns_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 20rem;
    height: 1.2rem;
}

.radio_btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back_btn_div {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 2rem;
    left: 1.5rem;
}
.sketch_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    min-width: 4rem;
    width:fit-content;
    background: transparent;
}

@media only screen and (orientation: landscape) and (max-width: 1024px) {
  
}
