.credits_page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100vw;
}

.back_btn_div {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 2rem;
  left: 1.5rem;
}

.sketch_btn {
  align-self: flex-start;
  width: fit-content;
  background: transparent;
}
.credits_page h2 {
  font-size: 25px;
  margin: 2px;
}

.credits {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
  width: 90%;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

.credits p,
ul {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 25px;
  margin: 5px;
}

.authorsContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 1.5rem;
  line-height: 28px;
  flex-basis: 38%;
}

.creditItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  white-space: pre-line;
  min-height: 4rem;
  min-width: 400px;
  max-width: fit-content;
  padding: 0.3rem;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
}

.librariesItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: pre-line;
  min-height: 8rem;
  min-width: 400px;
  max-width: fit-content;
  margin: 2rem 3rem 2rem 0;
}

.mainList {
  list-style: none;
  text-align: left;
  margin-top: 0.1rem;
}

.mainList li,
a {
  line-height: 3rem;
  line-break: none;
  font-family: "Love Ya Like A Sister", cursive;
}

.subList li {
  line-height: 2.5rem;
  font-size: 20px;
}

#copyright {
  z-index: 9999;
  position: fixed;
  bottom: 5px;
  font-size: 15px;
  justify-self: flex-end;
}

/*mobile*/
@media only screen and (orientation: landscape) and (max-width: 1024px) {
  .credits_page {
    margin-top: 0rem;
    width: 100vw;
    height: 100vh;
    padding: 0.3rem;
    font-size: 10px;
    gap:0;
  }
  .credits_page h2 {
  font-size: 16px;
  margin: 0;
}

  .credits {
    margin-top: 0px;
    width: 98vw;
    height: 90vw;
    gap: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  .credits p,
ul {
  font-size: 16px;
  margin: 0;
}
  .authorsContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.creditItem {
  padding: 0;
  gap: 1px;
  padding: 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  max-height: 40px;
  min-width: 100px;
  width: 100%;
}
.librariesItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: pre-line;
  min-width: 100px;
  max-width: 300px;
  margin: 20px 40px 20px 0;
}

.mainList {
  list-style: none;
  text-align: left;
  margin-top: 5px;
}

.mainList li,
a {
  line-height: 25px;
  line-break: none;
  font-family: "Love Ya Like A Sister", cursive;
}

.subList li {
  line-height: 25px;
  font-size: 16px;
}
}