.credits_page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100vw;

}

.credits_page h2 {
    font-size: 25px;
    margin: 2px;
}

.credits {
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 5rem;
    justify-content: space-between;
    align-items: center;
}

.credits p, ul {
    font-family: "Love Ya Like A Sister", cursive;
    font-size: 28px;
    margin: 5px;
}

ul {
    list-style: none;
    text-align: left;
}

li {
    line-height: 4rem;
    line-break: none;
}

.authorsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    line-height: 28px;
    flex-basis: 38%;
}

.creditItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    white-space: pre-line;
    min-height: 8rem;
    min-width: 400px;
    max-width: fit-content;
    padding: 0.3rem;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
}

#copyright {
    font-size: 15px;
    justify-self: flex-end;
}