.credits {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.credits h2 {
    font-size: 25px;
}

.credits p {
    font-family: "Love Ya Like A Sister", cursive;
    font-size: 28px;
}

.authorsContainer {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    line-height: 5px;
}

.creditItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    white-space: pre-line;
}

.copyright {
    display: flex;
}