.key_btn {

    background-color: transparent;
    height: 3rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.key_btn:hover:enabled {
  color: rgb(235, 235, 235);
  transform: scale(1.1);
}

.key_btn:disabled {
    color: rgb(236, 235, 235);
     text-shadow: black 2px 1px 3px;
    cursor: default;
}

.key_btn p { 
  color: white;
    font-size: 30px;
    text-shadow: black 2px 1px 2px;
    font-family: "Love Ya Like A Sister", cursive;
}