.key_btn {

    background-color: transparent;
    height: 3rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.key_btn:disabled {
    color: rgba(255, 255, 255, 0.7);
     text-shadow: black 2px 1px 3px;
    cursor: default;
}

.key_btn p { 
  color: white;
    font-size: 30px;
    text-shadow: black 2px 1px 2px;
    font-family: "Love Ya Like A Sister", cursive;
}