.player_modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    padding: 10px;
    gap: 1rem;
    background-color: rgba(250, 250, 250, 0.156);
}

h3 {
    margin:0;
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 0.3rem 0.3rem 0.1rem 0.3rem;
}

.player_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    color: rgb(93, 93, 93);
}

.player_name {
display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 95%;
}

.player_name input {
    background-color: transparent;
    align-self: flex-start;
    color: var(--text-color);
    width: 150px;
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none; 
}
.player_name input:focus {
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;
}

.ready_btn {
    width:fit-content;
    height: 40px;
    padding: 0px 4px;
    background: transparent;
}

.ready_btn:disabled {
    cursor: default;
}

.color_choice {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.color_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 0.5rem;
    flex-wrap: wrap;
    background-color: transparent;
}

.color_label {
    align-self: flex-start;
}

.colorButton {
    padding: 0;
    margin: 0;
    height: 28px !important;
    width: 28px !important;
    background: transparent;
}
.colorButton p {
display: none;
}

.colorButton:disabled {
cursor: default;
}
