.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0.1rem);
  z-index: 1000;
}

.dialog_container {
  background-color: rgba(255, 255, 255, 0.37);
  box-shadow: 0 0 4rem white;
  width: fit-content;
  min-width: 20rem; /* 400px */
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  font-size: 1.5rem;
  white-space: pre-line;
  margin: 2rem 1rem;
  padding: 1rem;
  border-radius: 0.6rem;
}

.explosion {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 34rem; /* 680px */
  width: auto;
  transform: translate(-50%, -50%) scale(0.5);
  z-index: -1;
  opacity: 0;
  animation: explosionZoomIn 0.6s ease-out forwards;
}

@keyframes explosionZoomIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  60% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.confirmDialog {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
