.word_wrapper {
    display: flex;
    gap: 1.5rem;
    margin: 1rem 1rem 3rem;
    padding: 1rem 1.8rem;
    width: fit-content;
    border-radius: 5px;
    justify-content: center;
    background-color: white;
}