.letter_card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background-color: rgb(235, 235, 235);
    color: rgb(35, 35, 35);
    font-weight: 600;
    font-size: 2rem;
    border-radius: 3px;
}