.board {
    display: flex;
    flex-direction: column;
    width: 30rem;
    gap: 1.5rem;
    padding: 0.5rem 1rem;
}

.player {
    position: relative;
}

h2 {
    margin: 0px 0px 1rem 0px;
    text-align: center;
    font-family: "Love Ya Like A Sister", cursive;
    font-size: 40px;
}