.keyboardWrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 22px;
    width: fit-content;
    padding: 1rem;
}

.prova {
grid-column: 1 / -1; 
  justify-self: stretch;
}