.keyboardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 22px;
  width: fit-content;
  max-width: calc((5rem + 0.5rem) * 9);
}
.keyboardWrapper > * {
  flex: 0 0 3rem;
}