#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

/*mobile*/
@media only screen and (orientation: landscape) and (max-width: 1024px) {
  #root {
    padding: 0.3rem;
  }
}
