button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

.text {
    padding: 0px 10px;
    color: var(--text-color);
    margin: 0px;
}