.gameplay_wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.points_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.keyboardErrorsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
hr {
    height: 2px;
     width: 80vw; 
     background-color: steelblue;
}