.gameplay_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.headerTop {
    font-size: 1.5rem;
    box-shadow: none;
    display: flex;
    justify-self: center;
    align-items: center;
}

.headerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding-bottom: 1rem;
}

.headerBottom > *:nth-child(2) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.keyboardErrorsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
hr {
height: 2px;
  width: 100%;
  max-width: 80rem;
  background-color: steelblue;
}